{% for resume_obj in resume %}
{% if user.id == resume_obj.candidate.user.id %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title"> {{ resume_obj.desired_position|title }} </h4>
        <div class="row">
            <h6 class="card-text">Желаемая зарплата {{ resume_obj.salary }} руб.</h6>
            <p class="card-text">Занятость: {{ resume_obj.get_busyness_display }}</p>
            <p class="card-text">График работы: {{ resume_obj.get_work_schedule_display }}</p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
