{% load my_filter %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<div class="title">
    {% block title %}
    {% endblock %}
</div>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block content %}
{% endblock %}

<footer>
    {% block footer %}
        {% include 'mainapp/includes/inc_footer.html' %}
    {% endblock %}
</footer>
</html>