<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница эпичного хабра</title>
</head>
<body>
<h1>Главная страница эпичного хабра</h1>

<ul>
    {% for article in article_list %}

        <li>

                <h3>{{ article.title|title }}</h3>
                <h4>{{ article.author|title }}</h4>
                <p>{{ article.subject }}</p>
                <a href="{% url 'art:article' article.pk %}">Подробнее</a>
        </li>

    {% endfor %}
</ul>


</body>
</html>