### IDE ###
.idea

### ENV ###
.env

### VENV ###
venv

### Python ###
__pycache__/

### BD ###
*.sqlite3

### Django ###
*.pyc
/media
/mainapp/static

### Django migration folder ###
mainapp/migrations
candidateapp/migrations
authapp/migrations
companyapp/migrations

### Other ###
/.env
