### IDE ###
.idea

### ENV ###
.env

### VENV ###
venv

### Python ###
__pycache__/

### BD ###
*.sqlite3

### Django ###
*.pyc
/media
# Именно эту папку надо игнорить, не менять
/static
/staticfiles

### Django migration folder ###
mainapp/migrations
candidateapp/migrations
authapp/migrations
companyapp/migrations
favoriteapp/migrations
messageapp/migrations
moderatorapp/migrations

### Other ###
*.DS_Store
mainapp/management/data

.coverage

# папка с результатами выполнения команды coverage html ###
/htmlcov
