asgiref==3.5.2
Django==4.1.4
django-debug-toolbar-template-profiler==2.1.0
django_debug_toolbar==3.8.1
flake8==6.0.0
isort==5.11.1
mccabe==0.7.0
psycopg2-binary==2.9.5
pycodestyle==2.10.0
pyflakes==3.0.1
python-dotenv==0.21.0
sqlparse==0.4.3
tzdata==2022.7
wrapt==1.14.1
requests~=2.28.1
django-debug-toolbar~=3.8.1