{% extends 'base.html' %}

{% block css_style %}
<script type="text/javascript"
        src="/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=JgIb_VUFpIRoFnicf9_PtOAUGsKOxoOkWP2ha2-RVGgy8s77qXcJLyaEVjM3m3GtopPE-iXAzD5R80jwOfSmNmVnLdy85Cb9szfCD5cbYsA"
        charset="UTF-8"></script>
<link rel="stylesheet" crossorigin="anonymous"
      href="/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9nZXRib290c3RyYXAuY29tL2RvY3MvNS4yL2V4YW1wbGVzL2hlcm9lcy8"/>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
</style>
{% endblock css_style %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Мои поздравления</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Вы успешно зарегистрировались и теперь можете пользоваться данным порталом</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Перейти в личный кабинет</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">На главную страницу</button>
        </div>
    </div>
</div>
{% endblock %}