{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block site_content %}
<div class="container col-xxl-8 px-4 py-5">
    <!-- <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> -->
<!-- <div> -->
    <div>
        <h2>Личные данные пользователя            <a class="btn btn-primary" style="float:inline-end" href="{% url 'candidate:resume_create' %}">Создать резюме</a></h2>

        <!-- <ul>{% if user.id %}
          <li>{{ user.id }}</li>
          <li>{{ user.last_name }}</li>
          <li>{{ user.email }}</li>
          <li>{{ user.phone_number }}</li>
          <li>{{ candidate_items }}</li> -->
            <!-- {% for candidate in candidate_items %}
                <li>PR</li>
                <li>{{ user.id }}</li>
                <li>{{ candidate.user.first_name }}</li>
                <li>{{ candidate.user.email }}</li>
                <li>{{ candidate.last_name }}</li>
                <li>{{ candidate.email }}</li>
                <li>{{ candidate.phone_number }}</li>
                <li>{{ candidate.search_area }}</li>
            {% endfor %} -->
        <!-- {% else %}
            Пользователь
        {% endif %}
        </ul> -->

    </div>
</div>

<div class="container">
    <div class="main-body">    
          <div class="row gutters-sm">

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Фамилия</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if user.id %}
                        {{ user.last_name }}
                      {% else %}
                        Не указана
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Имя</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if user.id %}
                        {{ user.first_name }}
                      {% else %}
                        Не указано
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Отчество</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if user.id %}
                        {{ user.patronymic }}
                      {% else %}
                        Не указано
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if user.id %}
                        {{ user.email }}
                      {% else %}
                        Не указана
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Телефон</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if candidate_items %}
                       {% for candidate in candidate_items %}
                          {{ candidate.phone_number }}
                        {% endfor %}  
                      {% else %}
                        Не указан
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Город</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if candidate_items %}
                        {% for candidate in candidate_items %}
                          {{ candidate.city }}
                        {% endfor %}  
                      {% else %}
                        Не указан
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Район поиска работы</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if candidate_items %}
                        {% for candidate in candidate_items %}
                          {{ candidate.search_area }}
                        {% endfor %}  
                      {% else %}
                        Не указан
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a href="{% url 'candidate:user_profile' %}" class="nav-link">
                      <a class="btn btn-info " target="__blank" href="#">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-link" href="#">Удалить аккаунт</button>
            <p></p>
        </div>
    </div>






{% endblock %}

{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}