<!DOCTYPE html> <!-- Объявление формата документа -->
<html>
<head> <!-- Техническая информация о документе -->
<meta charset="UTF-8"> <!-- Определяем кодировку символов документа -->
<title>Профиль пользователя</title> <!-- Задаем заголовок документа -->
<link rel="stylesheet" type="text/css" href="style.css"> <!-- Подключаем внешнюю таблицу стилей -->
</head>

<body>
Информация о кандидате
<h4>{{ candidate.first_name }}</h4>
<h4>{{ candidate.last_name }}</h4>
<h4>{{ candidate.email }}</h4>
<h4>{{ candidate.phone_number }}</h4>
</body>
</html>