{% extends 'base.html' %}
{% load static %}


{% block header %}
<div id="main">
    <div id="header">
        <div id="logo">
            <h1>Рекрутинговое агенство @Agile-HH@</h1>
            {% include 'mainapp/includes/main_menu.html' %}
        </div>
    </div>
</div>
{% endblock %}



{% block site_content %}
<div id="site_content">
    <div id="content">
        <h1>Личный кабинет кандидата</h1>
        <h3>База данных резюме</h3>
        <p>Добавить базусделать расширенный поиск вакансий, выбрав одну из них пытается откликнуться на вакансию,
            сайт сообщает что нет таких и предлагает создать резюме в личном кабинете
            Пользователь добавляет выбранную вакансию в избранное и переходит в личный кабинет ...</a></p>

        <h3>Для заполнения заполнения резюме перейдите на вкладку "Личный кабинет"</h3>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}
