{% extends 'candidateapp/index.html' %}
{% load static %}

{% block site_content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <h1>Резюме кандидата</h1>
        <div class="resume_card">
            {% for item in resume_items %}
                <a class="desired_position"
                    href="{% url 'candidate:resume_detail' item.id %}">
                    {{ item.position_and_selery.desired_position }}</a>
                <h2 class="salary">{{ item.position_and_selery.salary }}</h2>
            {% endfor %}
        </div>

        <div class="basket_list">
            {% include 'candidateapp/includes/inc_resume_list.html' %}
        </div>
    </div>
</div>
{% endblock %}
