{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block site_content %}
    <div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="icon-grid">
        {% include 'candidateapp/includes/inc_resume_contact_info.html' %}
        <br>
        {% include 'candidateapp/includes/inc_resume_position_and_salary.html' %}
    </div>

{% endblock %}


{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}