{% extends 'base.html' %}
{% load static %}


{% block header %}
<div id="main">
    <div id="header">
        <div id="logo">
            <h1>Рекрутинговое агенство @Agile-HH@</h1>
            {% include 'mainapp/includes/main_menu.html' %}
        </div>
    </div>
</div>
{% endblock %}


{% block site_content %}
<div id="site_content">
    <div id="content">
        <h1>Резюме кандидата</h1>

        <h3>База данных резюме</h3>

        <div class="basket_list">
            {% include 'candidateapp/includes/inc_resume_list.html' %}
        </div>



    </div>
</div>
{% endblock %}


{% block footer %}
{% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}