{% extends 'base.html' %}
{% load static %}


{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}



{% block site_content %}
    <div class="container px-4 py-5" id="icon-grid">
        <h2>Профиль компании</h2>
        <hr>
        {% if not profile %}
            <h3 class="subtitle-title">
                <a href="{% url 'company:company_create' %}">
                    Создать профиль
                </a>
            </h3>
        {% else %}


            {% for companyprofile in profile %}
                <div>
                    {% if companyprofile.company_logo %}
                        <img src="{{ companyprofile.company_logo.url }}" alt="Company logo" height="200">
                    {% else %}
                        <img src="{% static 'img/no_logo.png' %}" alt="No logo" height="200">
                    {% endif %}
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row" class="text-start fs-3">Название компании</th>
                        <td class="fs-3 ">{{ companyprofile.company_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start fs-3">Юридическое лицо</th>
                        <td class="fs-3">{{ companyprofile.legal_entity }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start fs-3">Адрес</th>
                        <td class="fs-3">{{ companyprofile.company_address }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start fs-3">Email</th>
                        <td class="fs-3">{{ companyprofile.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start fs-3">Телефон</th>
                        <td class="fs-3">{{ companyprofile.phone_number }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start fs-3">О компании</th>
                        <td class="fs-3">{{ companyprofile.about_company }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start fs-3" colspan="2">
                            <a class="btn btn-outline-primary"
                               href="{% url 'company:company_update' companyprofile.id %}">
                                Редактировать профиль
                            </a>
                        </th>
                    </tr>

                    </tbody>
                </table>

            {% endfor %}


        {% endif %}
    </div>
{% endblock %}



{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}