{% extends 'base.html' %}
{% load static %}


{% block header %}
    <div id="main">
        <div id="header">
            <div id="logo">
                <h1>Рекрутинговое агенство @Agile-HH@</h1>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <li class="selected"><a href="/">Главная</a></li>
                    <li><a href="/company/company/">Вернуться к базе данных</a></li>
                    <li><a href="/company/vacancy_search/">Поиск вакансий</a></li>
                    <li><a href="/auth/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}



{% block site_content %}

    <div id="site_content">
        <div id="content">
            <h1>Сделать расширенный поиск для просмотра резюме, выбрав одно из них пытается связаться с соискателем,
                сайт выводит сообщение "Нет доступных вакансий для отклика на резюмею Создайте вакансии в личном кабинете"7
                Пользователь переходит в ЛК, где по предложенной форме заполняет карточку компании и вакансию,
                отправляет на утверждение модератору с последующей публикациейю
            </h1>
        </div>
    </div>
{% endblock %}