{% extends 'base.html' %}
{% load static %}


{% block header %}
    <div id="main">
        <div id="header">
            <div id="logo">
                <h1>Рекрутинговое агенство @Agile-HH@</h1>
            </div>
            {% include 'mainapp/includes/main_menu.html' %}
        </div>
    </div>
    </div>
{% endblock %}



{% block site_content %}

    <div id="site_content">
        <div id="content">
            <h1>Профиль компании  </h1>
                 </div>
                <form action="{% url 'companyapp:company_lk' %}" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                {% for f in form %}
                    {% if f == 'company_logo' %}
                    <div >
                                {{ f }}
            <input type="file"   id="img" size="50">
                                <label   for="{{ f.id_for_label}}">Выберите изображение</label>
                            </div>
                    {% else %}
                     <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endif %}
                {% endfor %}
                     <div>
                <button type="submit">ПОДТВЕРДИТЬ</button>
            </div>
                </form>
            </div>



            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}