{% extends 'base.html' %}
{% load static %}


{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
    {% include 'companyapp/includes/inc_resume_search_panel.html' %}
{% endblock %}


{% block site_content %}
    <div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="icon-grid">
        <h2> Список резюме </h2>
            {% if not vacancies %}
                <h5> Создайте вакансию, чтобы откликнутся на резюме </h5>
            {% endif %}
        {% for resume in resumes %}
            <div class="card" style="margin-bottom: 10px">
                <div class="card-body">
                    <h3 class="card-title" style="padding: 0"><a href="{% url 'candidate:resume_detail' pk=resume.pk %}">
                        {{ resume.candidate }} </a></h3>
                    <h4 class="card-subtitle mb-2 text-muted">{{ resume.city }}</h4>
                    <p class="card-text">{{ resume.desired_position }}</p>
                    <p class="card-text">{{ resume.level }}</p>
                    <p class="card-text">{{ resume.candidate }}</p>
                    <a class="btn btn-primary" href="#" role="button">Откликнуться</a>
                    <a class="btn btn-primary" href="{% url 'favorite:company_add' resume.pk %}" role="button">Добавить в избранное</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}

