{% extends 'base.html' %}
{% load static %}


{% block header %}
    <div id="main">
        <div id="header">
            <div id="logo">
                <h1>Рекрутинговое агенство @Agile-HH@</h1>
            </div>
            {% include 'mainapp/includes/main_menu.html' %}
        </div>
    </div>
{% endblock %}



{% block site_content %}

    <div id="site_content">
        <div id="content">
            <h1>Код для вакансий</h1>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}

