{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block site_content %}
    <div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="icon-grid">
        <a href="#" class="btn btn-outline-primary" onclick="window.history.go(-1); return false;"><<< Назад</a>
        <h3 class="card-title" style="padding: 0">{{ vacancy.vacancy_name }} </h3>
        <h4 class="subtitle-title"> {{ vacancy.city }} </h4>
        {% if vacancy.salary_min and vacancy.salary_max %}
            <h3 class="subtitle-title"> {{ vacancy.salary_min }} - {{ vacancy.salary_max }}
                {{ vacancy.currency }}
            </h3>

        {% elif vacancy.salary_min %}
            <h3 class="subtitle-title"> от {{ vacancy.salary_min }} {{ vacancy.currency }} </h3>

        {% elif vacancy.salary_max %}
            <h3 class="subtitle-title"> до {{ vacancy.salary_max }} {{ vacancy.currency }} </h3>
        {% else %}
            <h3 class="subtitle-title"> Зарплата не указана работодателем </h3>
        {% endif %}
        <h4 class="card-subtitle mb-2 text-muted">{{ vacancy.company.company_name }}</h4>
        {% if vacancy.duties_description %}
            <p class="card-text"> Обязанности : {{ vacancy.duties_description|safe }}</p>
        {% endif %}
        <br>
        {% if vacancy.work_conditions %}
            <p class="card-text"> Условия работы : {{ vacancy.work_conditions|safe }}</p>
        {% endif %}
        <br>
        {% if vacancy.requirements_description %}
            <p class="card-text"> Требования : {{ vacancy.requirements_description|safe }}</p>
        {% endif %}
        <br>
        <p class="card-text">{{ vacancy.created }}</p>
        <br>

        {% if vacancy.is_active %}
            <p class="card-text"> Активна </p>
        {% endif %}
        {% if vacancy.is_for_disabled %}
            <p class="card-text"> Подходит людям с ограниченными возможностями </p>
        {% endif %}
        {% if vacancy.is_full_day %}
            <p class="card-text"> Полный рабочий день </p>
        {% endif %}
        {% if vacancy.is_intern %}
            <p class="card-text"> Можно новичкам и стажерам </p>
        {% endif %}
        {% if user.is_candidate %}
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                Откликнуться
            </button>
            <div class="collapse" id="collapseExample">
            <div class="card card-body">

            {% if candidate_resume %}
                <form method="get"
                      action="{% url 'messageapp:response_to_vacancy' user_id=vacancy.company.user.pk vacancy_id=vacancy.pk %}">
                    <h3>Выберите активное резюме для отклика:</h3>
                    {% for item in candidate_resume %}
                        <div class="form-check py-3">
                            <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault{{ forloop.counter }}" value="{{ item.pk }}">
                            <label class="form-check-label" for="flexRadioDefault{{ forloop.counter }}">
                                {{ item.desired_position }} ({{ item.salary }}р)
                            </label>
                        </div>
                    {% endfor %}
                    <div class="input-group">
                        <span class="input-group-text">Сопроводительное письмо: </span>
                        <textarea class="form-control" aria-label="With textarea"
                                  name="letter"></textarea>
                    </div>
                    <br>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Отправить отклик</button>
                    </div>
                </form>
            {% else %}
                <h3>Сначала нужно <a href="{% url 'candidate:resume' %}">создать резюме</a></h3>
            {% endif %}
            </div>
            </div>
        {% endif %}

    </div>

    {% if user == company.user %}
        <a class="btn btn-primary" href="{% url 'company:vacancy_edit' pk=vacancy.pk %}"
           role="button">Редактировать</a>
        <a class="btn btn-primary" href="{% url 'company:vacancy_delete' pk=vacancy.pk %}"
           role="button">Удалить</a>
    {% endif %}


    <div class="b-example-divider"></div>
{% endblock %}

{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}