{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block site_content %}
    <div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="icon-grid">
                <div class="card-body">
                    <h3 class="card-title" style="padding: 0"><a href="{% url 'company:vacancy' pk=vacancy.pk %}">
                        {{ vacancy.vacancy_name }} </a></h3>
                    {% if vacancy.salary_min and vacancy.salary_max %}
                        <h3 class="subtitle-title"> {{ vacancy.salary_min }} - {{ vacancy.salary_max }}
                            руб. </h3>

                    {% elif vacancy.salary_min %}
                        <h3 class="subtitle-title"> от {{ vacancy.salary_min }} руб. </h3>

                    {% elif vacancy.salary_max %}
                        <h3 class="subtitle-title"> до {{ vacancy.salary_max }} руб. </h3>
                    {% endif %}
                    <h4 class="card-subtitle mb-2 text-muted">{{ vacancy.company.company_name }}</h4>
                    <p class="card-text">{{ vacancy.duties_description }}</p>
                    <p class="card-text">{{ vacancy.work_conditions }}</p>
                    <p class="card-text">{{ vacancy.requirements_description }}</p>
                    <a class="btn btn-primary" href="#" role="button">Откликнуться</a>


                </div>
    </div>

    <div class="b-example-divider"></div>


    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Наши партнеры</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Компания x</h3>
                    <p>Лидер рынка</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Компания x</h3>
                    <p>Лидер рынка</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Компания x</h3>
                    <p>Лидер рынка</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Компания x</h3>
                    <p>Лидер рынка</p>
                </div>
            </div>

        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Главные новости</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            {% for item in news %}
                <div class="col d-flex align-items-start">

                    <div>
                        <h3 class="fs-2">{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                        <a href="{{ item.link }}" class="btn btn-primary">
                            Читать далее
                        </a>
                    </div>
                </div>
            {% empty %}
                <p class="lead mb-4">Новостей пока нет</p>
            {% endfor %}

        </div>


    </div>
{% endblock %}

{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}