{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_filter %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block additiobal_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block content %}
    <div class="form_auth_block">
        <p class="form_auth_block_content">
            <p class="form_auth_block_head_text">Авторизация</p>
            <form class="form_auth_style" action="{% url 'login:index' %}" method="post">
                {% csrf_token %}
{#                {{ form.as_p }}#}

                <label for="{{ form.username.id_for_label }}">Введите Логин</label>
                {{ form.username }}
                <label for="{{ form.password.id_for_label }}">Введите Ваш пароль</label>
                {{ form.password }}
                <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
            </form>
            <p class="aligncenter"><a href="{% url 'login:register' %}">Нужен аккаунт? Зарегистрируйся!</a></p>
        </div>
    </div>
{% endblock %}



