{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block additiobal_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block content %}
    <div class="form_auth_block">
        <div class="form_auth_block_content">
            <p class="form_auth_block_head_text">Личные данные</p>
            <p class="aligncenter"> <img width="100" height="100"
                 src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'vendor/img/users/noname.png' %} {% endif %}"
                 class="image-thumbnail"></p>
            <form class="form_auth_style" action="{% url 'login:profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="{{ form.first_name.id_for_label }}">Имя</label>
                {{ form.first_name }}
                <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                {{ form.last_name }}
                <label for="{{ form.username.id_for_label }}">Логин</label>
                {{ form.username }}
                <label for="{{ form.email.id_for_label }}">E-mail</label>
                {{ form.email }}
                <label for="{{ form.image.id_for_label }}">Картинка для аватарки</label>
                <p class="aligncenter">{{ form.image }}</p>


                <button class="form_auth_button" type="submit" name="form_auth_submit">Сохранить</button>
            </form>
            <p class="aligncenter"><a href="{% url 'main' %}">Вернуться на главную</a></p>
        </div>
    </div>
{% endblock %}