{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block additiobal_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block content %}
    <div class="form_auth_block">
        <p class="form_auth_block_content">
            <p class="form_auth_block_head_text">Регистрация</p>
            <form class="form_auth_style" action="{% url 'login:register' %}" method="post">
                {% csrf_token %}
                <label for="{{ form.first_name.id_for_label }}">Имя</label>
                {{ form.first_name }}
                <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                {{ form.last_name }}
                <label for="{{ form.username.id_for_label }}">Введите Логин</label>
                {{ form.username }}
                <label for="{{ form.email.id_for_label }}">Введите E-mail</label>
                {{ form.email }}
                <label for="{{ form.password1.id_for_label }}">Введите Ваш пароль</label>
                {{ form.password1 }}
                <label for="{{ form.password2.id_for_label }}">Повторите Ваш пароль</label>
                {{ form.password2 }}
                <button class="form_auth_button" type="submit" name="form_auth_submit">Зарегистрироваться</button>
            </form>
            <p class="aligncenter"><a href="{% url 'login:index' %}">Уже есть аккаунт? Авторизоваться</a></p>
        </div>
    </div>
{% endblock %}