{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block site_content %}
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'img/personal.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     width="700"
                     height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Построй карьеру вместе с профессионалами!</h1>
                <p class="lead">Мы лучшее гибкое кадровое агентство* на этой планете. Обладаем большим набором
                    квалифицированных кандидатов, а также лучшими методами подбора персонала, основанными на машинном
                    обучении.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Посмотреть что мы можем</button>
                </div>
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Правила портала</h2>
        <h3>Сотрудник. Зарегистрированный пользователь, который может размещать и управлять одним или
            несколькими своими резюме, имеет доступ к базе вакансий и возможность откликнуться.</h3>
        <h3>Работодатель. Зарегистрированный пользователь, которому доступно заполнение карточки компании,
            размещение вакансии и работа с базой резюме IT-специалистов.</h3>
        <h3>Модератор. Проводит пост-модерацию карточек компаний/вакансий/резюме. Может размещать новости на портале.</h3>
    </div>

    <div class="b-example-divider"></div>


    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Наши партнеры</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            {% for item in companys %}
                <div class="col d-flex align-items-start">
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">{{ item.company_name }}</h3>
                        <p>{{ item.about_company }}</p>
                    </div>
                </div>
            {% empty %}
                <p class="lead">Только проверенные компании являются партнерами нашего агенства.</p>
            {% endfor %}
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Главные новости</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            {% for item in news %}
                <div class="col d-flex align-items-start">

                    <div>
                        <h3 class="fs-2">{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                        <a href="{{ item.link }}" class="btn btn-primary">
                            Читать далее
                        </a>
                    </div>
                </div>
            {% empty %}
                <p class="lead mb-4">Новостей пока нет</p>
            {% endfor %}

        </div>


    </div>
{% endblock %}

{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}