{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block site_content %}

    <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Правила портала</h2>
        <div class="row">
            <p class="justify">Безусловным принятием (акцептом) условий настоящей оферты считается регистрация на одном из Сайтов Исполнителя (п. 1.1. Соглашения) 
                или совершение Соискателем любых действий, направленных на какое-либо использование Сайтов Исполнителя, в том числе поиск и просмотр вакансий, 
                осуществление откликов на вакансии, или любых других действий, направленных на использование сервисов или функционала Сайтов Исполнителя, 
                в том числе через приложение Исполнителя или установка приложения Исполнителя на мобильное устройство Соискателя.</p>
                <p class="jusify">Акцепт настоящей оферты (Соглашения) на иных условиях, отличных от тех, что указаны в настоящей оферте, либо акцепт под условием,
                     не допускается.</p>
                <h5>1.	Термины и определения</h5>
                <p class="jusify">
                    <ol>
                        <li><b>Сайт</b> — содержимое интернет-страниц, расположенных в сети интернет по адресу какого-либо из доменов, управляемых Исполнителем, 
                            которое используется Соискателем в соответствии с настоящим Соглашением как напрямую по соответствующим адресам, так и посредством 
                            иных сайтов и приложений, в том числе, приложения Исполнителя.</li>
                        <li><b>Регистрация на Сайте</b> — процедура создания аккаунта на Сайте и получения Соискателем учетной информации.</li>
                        <li><b>Соискатель</b> — посетитель Сайта, прошедший регистрацию на Сайте с целью поиска работы и иных видов занятости, либо использующий 
                            Сайт также для поиска работы и иных видов занятости, но без регистрации на Сайте.</li>
                        <li><b>База данных</b> — совокупность резюме Соискателей, находящихся в сети интернет по адресу домена.</li>
                        <li><b>Учетная информация Соискателя</b> — логин и пароль для входа на защищенные страницы Сайта. В качестве логина используется указываемый 
                            Соискателем при регистрации на Сайте адрес электронной почты.</li>
                        <li><b>Резюме</b> — документ, содержащий персональные данные Соискателя, включающий информацию о фамилии и имени, адресе электронной почты, 
                            образовании, описании мест работы, а также прочих данных, относящихся к поиску работы и иных видов занятости.</li>
                        <li><b>Клиент</b> — любое, зарегистрированное на одном из Сайтов, управляемых Исполнителем, юридическое, физическое лицо, или юридические лица, 
                            определенные администрацией Сайта и использующие одну регистрацию работодателя на сайте, получившие уникальные логин и пароль для входа 
                            на защищенные страницы (регистрацию работодателя) соответствующего Сайта Исполнителя.</li>    
                        <li><b>Анонимный пользователь Сайта</b> — юридическое или физическое лицо, не зарегистрированное ни на одном из Сайтов Исполнителя или 
                            зарегистрированное только на одном из них, но использующее доступные для него сервисы Сайта(-ов), на котором оно не зарегистрировано на момент использования такого Сайта.</li>
                    </ol>
                </p>
                <h5>2.	Предмет соглашения</h5>
                <p class="jusify">
                    <ol>
                        <li>Исполнитель обязуется предоставить возможность Соискателю размещать Резюме на Сайте, искать вакансии, опубликованные на Сайте и создавать на них отклики.</li>
                        <li>В соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных» Соискатель в целях, указанных в п. 2.3 настоящего Соглашения, 
                            выражает согласие Исполнителю на осуществление со всеми персональными данными, указанными Соискателем при регистрации на Сайте или в последующем на или посредством Сайта, 
                            в том числе в соответствующем Резюме, следующих действий: сбор, запись, систематизация, накопление, хранение, уточнение (обновление или изменение), извлечение, использование, 
                            передача (предоставление, доступ), блокирование, уничтожение, поиск и сбор информации о Соискателе из общедоступных источников информации на основе сведений, указанных в Резюме.</li>
                        <li>Соискатель также выражает свое согласие Исполнителю в целях, указанных в п. 2.3 настоящего Соглашения, на сбор данных о геолокации Соискателя, который осуществляется только в случае 
                            соответствующей настройки Соискателем своего мобильного устройства в отношении установленного Приложения, а также при использовании Соискателем данного Приложения. Путем соответствующей 
                            настройки своего мобильного устройства в отношении Приложения Соискатель может также отказаться от сбора данных о геолокации.
                            Соискатель также выражает свое согласие Исполнителю в целях, указанных в п. 2.3 настоящего Соглашения, на сбор данных о домашнем адресе в личном кабинете Соискателя на Сайтах в случае, 
                            если Соискатель укажет данный адрес в соответствующей строке при заполнении личных данных, а также на использование таких данных в целях предоставления работодателям информации о примерном 
                            расстоянии до места работы/занятости по соответствующей вакансии работодателей. Таким же образом Соискатель может отказаться от сбора данных о домашнем адресе, удалив данный адрес при 
                            редактировании своих личных данных.</li>
                        <li>Сбор персональных данных, а также иной информации, которая не относится к персональным данным, осуществляется на Сайте при регистрации и/или авторизации путем заполнения Соискателем 
                            регистрационной формы или иными доступными способами.</li>
                        <li>Цель обработки персональных данных Соискателя включает в себя идентификацию Соискателя как стороны по настоящему Соглашению и персонализация предоставляемых сервисов и услуг Сайта</li>
                        <li>Срок размещения персональных данных в форме Резюме (срок действия согласия согласно п. 2.2. настоящего Соглашения) определяется самостоятельно субъектом персональных данных (Соискателем).</li>
                        <li>Ничто в настоящем соглашении не может пониматься как установление между Исполнителем и Соискателем агентских отношений, отношений товарищества, отношений по совместной деятельности, 
                            отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных в настоящем соглашении.</li>    
                        <li>При совершении Соискателем отклика на ту или иную вакансию от Клиента этой вакансии могут поступить вопросы, результаты ответов на которые остаются у этого Клиента и Соискателю не сообщаются, 
                            либо может поступить от потенциального Клиента предложение Соискателю пройти какой-либо тест от такого потенциального Клиента на Сайте.</li>
                        <li>Отклик Клиента «Приглашение» не приравнивается и не означает формальное приглашение на работу к конкретному работодателю и не влечет обязанности Клиента заключать трудовой договор с Соискателем или заключать договор гражданско-правового характера.
                            Отклик потенциального работодателя «Отказ» не приравнивается и не означает отказ в приеме на работу и в заключении трудового договора или договора гражданско-правового характера.</li>  
                        <li>Соискатель выражает свое согласие Исполнителю на то, что при его звонке на телефон, указанный в вакансии потенциального работодателя, будет произведена запись такого звонка и анализ Исполнителем или третьими лицами, 
                            привлекаемыми Исполнителем для такой записи и анализа. </li>
                        <li>Соискатель выражает свое согласие Исполнителю на то, что при его звонке по номеру телефона Службы поддержки Исполнителя, будет произведена запись такого звонка и анализ Исполнителем или третьими лицами, 
                            привлекаемыми Исполнителем для такой записи и анализа. Данная запись и анализ будут производиться в целях контроля качества обслуживания Исполнителя. У Исполнителя останется запись и фонетическая транскрибация такого телефонного разговора.</li>      
                        <li>Размещение Соискателем персональных данных на Сайте в виде Резюме может производиться как непосредственно самим Соискателем путем заполнения специальной формы на Сайте, так и автоматически — путем предоставления Соискателем согласия Сайту 
                            (а также другим сайтам) программно или иным способом получить (передать) персональные данные для составления Резюме с другого (других) сайтов, на которых расположены персональные данные Соискателя с его согласия.</li>
                        <li>В случае составления Резюме автоматически (п. 2.14.) после того, как Сайт программно составит проект Резюме, Соискатель вправе либо подтвердить размещение на Сайте такого Резюме или отказаться от его размещения.</li>
                        <li>Заключая настоящее Соглашение, Соискатель выражает Исполнителю свое согласие на предоставление Исполнителем поручения на обработку персональных данных Соискателя, размещаемых в форме Резюме на Сайте, 
                            указанных Соискателем при его регистрации на Сайте или в последующем на Сайте, любому третьему лицу на основании заключаемого с этим лицом соответствующего договора.</li>
                        <li>Соискатель настоящим предоставляет свое согласие на получение от Исполнителя сообщений по сетям электросвязи</li>
                        <li>Соискатель выражает свое согласие с тем, что его резюме Клиент может автоматизировано забирать с Сайта посредством функционала API на Сайте.</li>
                        <li>Соискатель дает свое согласие на обработку своих персональных данных в форме резюме, которые Клиенты, зарегистрированные также на сайте, который администрируется Исполнителем, могут получить при помощи выгрузки резюме Соискателя.</li>
                        <li>Исполнитель вправе отправлять Соискателю, установившим Приложение, посредством Приложения сообщения на мобильное устройство Соискателя, используя технологию push-уведомлений.</li>
                        <li>Соискатель, который не осуществил авторизацию в Приложении посредством своей учетной информации на сайте, может отказаться от получения push-уведомлений через настройки своего мобильного устройства в отношении установленного Приложения.</li>
                        <li>Исполнитель вправе обрабатывать предоставленную Соискателем информацию, в том числе персональные данные, а также передавать ее третьим лицам, для целей выполнения требований действующего законодательства Российской Федерации, 
                            защиты прав и интересов пользователей, Соискателей, Исполнителя, третьих лиц (также для целей выявления, проверки/расследования и/или пресечения противоправных действий).</li>
                    </ol>
                </p>
                <h5>3.	Обязательства Исполнителя</h5>
                <p class="jusify">
                    <ol>
                        <li>Исполнитель обязуется предоставить возможность Соискателю создавать Резюме и хранить не более чем 20 (двадцать) Резюме на Сайте (сохранять в Базе данных).</li>
                        <li>Исполнитель вправе в любое время по своему усмотрению без объяснения причин удалить Резюме или отказать в его размещении.</li>
                        <li>Исполнитель вправе в любое время и без предварительного предупреждения направлять по адресу электронной почты, указанному Соискателем при регистрации на Сайте, 
                            информационные сообщения о событиях компании Исполнителя, о сервисах Сайта и услугах Исполнителя и прочую информацию, включая рекламу.</li>
                        <li>Исполнитель вправе публиковать Резюме Соискателя любым образом.</li>
                        <li>Исполнитель вправе любым образом и без каких-либо ограничений извлекать прибыль из обработки и публикации персональных данных.</li>
                        <li>Исполнитель вправе в любое время предъявлять к содержанию Резюме, размещаемого Соискателем на Сайте, требования, связанные с уточнением, 
                            визуальным представлением и структурированием данных, включая расшифровку сокращений и аббревиатур, имеющихся в Резюме, а также в целях соответствия Резюме Правилам модерации.</li>
                        <li>По общему правилу, Исполнитель не раскрывает третьим лицам (за исключением Клиентов в соответствии с настройками видимости Резюме Соискателя) и не распространяет персональные данные без согласия Соискателя</li>    
                        <li>Исполнитель вправе периодически в целях повышения качества и развития функциональности Сайта, а также исследования потенциального спроса проводить эксперименты, в рамках которых возможна замена 
                            наименований компонентов Сайта и приложения Исполнителя (например, наименований кнопок, разделов и пр.).</li>
                    </ol>
                </p>
                <h5>4.	Обязательства Соискателя</h5>
                <p class="jusify">
                    <ol>
                        <li>Соискатель обязуется регулярно знакомиться с содержанием настоящего Соглашения, в целях своевременного ознакомления с его изменениями.</li>
                        <li>Соискатель вправе в любое время по своему усмотрению отозвать свое согласие на обработку своих персональных данных (представленных в виде Резюме) Исполнителем 
                            в том числе путем самостоятельного удаления какого-либо конкретного либо всех своих Резюме, размещенных на Сайте, для чего Соискателю предоставляется на Сайте соответствующая техническая возможность (интерфейс).</li>
                        <li>Соискатель вправе в любое время по своему усмотрению отключить в личном кабинете уведомления, связанные с таргетированными рекламными материалами.</li>
                        <li>Соискатель обязуется принимать необходимые меры для обеспечения конфиденциальности учетных данных (логин и пароль), используемых для доступа к Сайту, следить за тем, чтобы персональные данные не попали другим лицам 
                            по его неосторожности или неосмотрительности.</li>
                    </ol>
                </p>
                <h5>5.	Информационная безопасность Сайта</h5>
                <p class="jusify">
                    <ol>
                        <li>Используя Сайт, Соискатель обязуется не нарушать или пытаться нарушать информационную безопасность Сайта.</li>
                        <li>Нарушение Соискателем безопасности системы или компьютерной сети или попыток ее нарушить влечет за собой гражданскую и уголовную ответственность.</li>
                        <li>Исполнитель вправе в любое время по своему усмотрению обратиться к Соискателю для получения информации, которая может служить доказательствами инцидента информационной безопасности.</li>
                        <li>При обнаружении потенциальной уязвимости информационной безопасности Сайта Соискатель обязуется уведомить Исполнителя через Сообщество поддержки.</li>
                    </ol>
                </p>
                <h5>6.	Защищенные разделы Сайта и пароли</h5>
                <p class="jusify">
                    <ol>
                        <li>Доступ к информации, находящейся на защищенных разделах Сайта разрешен только зарегистрированным пользователям, получившим пароль для входа на защищенные разделы Сайта.</li>
                    </ol>
                </p>
                <h5>7.	Информация о пользователе</h5>
                <p class="jusify">
                    <ol>
                        <li>Исполнитель прилагает все возможные усилия для того, чтобы избежать несанкционированного использования персональных данных Соискателя.</li>
                        <li>Исполнитель не несет ответственности за возможное нецелевое использование персональных данных Соискателей.</li>
                        <li>Используя Сайт, Соискатель соглашается и принимает, что Исполнитель оставляет за собой право использовать его персональные данные, в том числе 
                            представленные в виде Резюме, анонимно и в обобщенном виде для статистических целей, а также для таргетинга рекламы, размещаемой на Сайте.</li>
                        <li>Используя Сайт, Соискатель соглашается и осознает, что при отправке им отклика на ту или иную вакансию, размещенную на Сайте кадровым агентством, 
                            организацией или иным лицом, оказывающим услуги по поиску и подбору персонала, указанные лица вправе передавать персональные данные данного Соискателя в 
                            виде Резюме своим клиентам (заказчикам) в целях рассмотрения Соискателя в качестве потенциального кандидата на вакантные позиции у этих клиентов (заказчиков).</li>
                    </ol>
                </p>
                <h5>8.	Использование материалов Сайта</h5>
                <p class="jusify">
                    <ol>
                        <li>Каждый пользователь Сайта, Соискатель или представитель Клиента Сайта, отвечает за информацию, размещаемую от его имени и за последствия этого размещения.</li>
                        <li>Сайт является лишь средством для передачи информации и ни в коем случае не несет ответственности за ее достоверность и актуальность.</li>
                        <li>Исполнитель прилагает все возможные усилия для того, чтобы исключить с Сайта небрежную, неаккуратную или заведомо неполную информацию, однако, в конечном счете, ответственность за нее лежит на разместивших ее лицах.</li>
                        <li>Не допускается использование программных средств (скриптов, роботов) для считывания или сбора информации (данных) с Сайта.</li>
                        <li>Исполнитель не гарантирует, что размещенные Резюме будут просмотрены определенным количеством Клиентов Сайта или хотя бы одним.</li>
                        <li>Исполнитель не несет ответственности за содержание размещенных на Сайте вакансий. За содержание размещенных на Сайте вакансий несут ответственность Клиенты Сайта, публикующие соответствующие вакансии.</li>
                    </ol>
                </p>
                <h5>9.	Действие настоящего Соглашения, внесение изменений</h5>
                <p class="jusify">
                    <ol>
                        <li>Настоящее Соглашение действует с момента его акцепта Соискателем.</li>
                        <li>Исполнитель вправе в любое время по своему усмотрению и без предварительного согласования с Соискателем вносить изменения в настоящее Соглашение.</li>
                        <li>Использование Соискателем Сайта (а равно реализация Соискателем прав и обязанностей, установленных настоящим Соглашением) после любых изменений настоящего 
                            Соглашения означает согласие Соискателя с такими изменениями и/или дополнениями.</li>
                        <li>Исполнитель вправе в любое время, в том числе в случае нарушения Соискателем условий настоящего Соглашения, расторгнуть настоящее Соглашение в 
                            одностороннем порядке без какого-либо предварительного уведомления Соискателя об этом и какой-либо компенсации в связи с этим в адрес Соискателя.</li>
                    </ol>
                </p>

    </div>
{% endblock %}

{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}