{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebars.css' %}">
{% endblock %}


{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block site_content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                {% include 'moderatorapp/includes/inc_moderator_left_menu.html' %}
            </div>
            <div class="col-8">
                <div class="list-group list-group-flush border-bottom">

                    {% for item in company_profiles_for_moderation %}
                        <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">
                                    Профайл компании {{ item.company_name }} {{ item.company_address }}
                                </strong>
                                <small>{{ item.updated_at }}</small>
                            </div>
                            <div class="col-10 mb-1 small">
                                {{ item.email }} |
                                {{ item.phone_number }} |
                                {{ item.about_company }}
                            </div>
                        </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}
