{% extends 'base.html' %}
{% load static %}
{% load verbose_names %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebars.css' %}">
{% endblock %}


{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block site_content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                {% include 'moderatorapp/includes/inc_moderator_left_menu.html' %}
            </div>
            <div class="col-8">

                <div class="container px-4 py-5" id="featured-3">
                    {% if not current_resume.is_moderated %}
                        <span class="badge text-bg-warning">Требует модерации</span>
                    {% else %}
                        <span class="badge text-bg-info">Принято модератором</span>
                    {% endif %}
                    <h2 class="pb-2 border-bottom" style="background-color: #efefef">
                        {{ current_resume.desired_position }}

                    </h2>
                    <h4 class="pb-2 border-bottom" style="background-color: #efefef">
                        {{ current_resume.candidate.patronymic }}
                        {{ current_resume.candidate.first_name }}
                        {{ current_resume.candidate.last_name }}
                        &nbsp;&nbsp;ожидаемая зарплата <b>{{ current_resume.salary }} р.</b>
                    </h4>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "moving" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.get_moving_display }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "business_trips" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.get_business_trips_display }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "busyness" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.get_busyness_display }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "work_schedule" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.get_work_schedule_display }}</p>
                        </div>
                    </div>
                    <h4 class="pb-2 border-bottom" style="background-color: #efefef">
                        Опыт работы
                    </h4>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <p class="fs-5">
                                работа с {{ current_resume.getting_started }} по
                                {% if working %}
                                    настоящее время
                                {% else %}
                                    {{ current_resume.end_work }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "organization" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.organization }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "post" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.post }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "responsibilities" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.responsibilities }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "skills" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.skills }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "about_me" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.about_me }}</p>
                        </div>
                    </div>
                    <h4 class="pb-2 border-bottom" style="background-color: #efefef">
                        Образование
                    </h4>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <p class="fs-5">
                                {{ current_resume.get_level_display }}
                            </p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "educational_institution" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.educational_institution }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "faculty" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.faculty }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "specialization" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.specialization }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "year_graduation" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.year_graduation }}</p>
                        </div>
                    </div>
                    <h4 class="pb-2 border-bottom" style="background-color: #efefef">
                        Повышение квалификации, курсы
                    </h4>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "course_name" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.course_name }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "organization_conducted" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.organization_conducted }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "specialization_course" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.specialization_course }}</p>
                        </div>
                    </div>
                    <div class="row py-1 row-cols-1 row-cols-lg-12">
                        <div class="feature col">
                            <h3 class="fs-5">
                                {% get_verbose_field_name current_resume "year_graduation_course" %}
                            </h3>
                            <p class="fs-5">{{ current_resume.year_graduation_course }}</p>
                        </div>
                    </div>
                    {% if not current_resume.is_moderated %}
                        <a href="{% url 'message:approve_after_moderation' user_id=current_resume.candidate.pk query_set_id=current_resume.pk approve_type='resume' %}"
                           class="btn btn-primary">Принять</a>
                        <a href="#" class="btn btn-danger">
                            Отклонить
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}